.container {
    height: 100vh;
    border-top: solid 1px black;
    background-color: #ede7e2;
    padding: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    
    
    
}